In [1]:
import json

import pandas as pd

In [2]:
df = pd.read_csv("C:/Users/Xiaomi/Downloads/final_predict.csv", sep=";")

In [3]:
df.shape

(15636711, 25)

In [4]:
df.head()

,user_id,item_id,datetime,total_dur,weight,rank,age,income,sex,kids_flg,...,for_kids,age_rating,studios,item_pop,item_avg_hist,target_ranker,listwise_score,listwise_rank,listwise_hybrid_score,listwise_hybrid_rank
0,439884,15297,2021-07-01,0.0,0.0,1,2,2,0,1,...,-1,18.0,-1,137128.0,7.364295,0,2.074702,1,2.074702,1
1,439884,13865,2021-07-01,0.0,0.0,3,2,2,0,1,...,-1,12.0,-1,93403.0,10.408520,0,0.826291,2,0.826291,2
2,439884,16228,2021-07-01,0.0,0.0,29,2,2,0,1,...,0,18.0,-1,7322.0,9.994127,0,0.534265,3,0.534265,3
3,439884,16166,2021-07-01,0.0,0.0,44,2,2,0,1,...,-1,6.0,-1,8522.0,20.144802,0,-1.280527,4,-1.280527,4
4,439884,14431,2021-07-01,0.0,0.0,18,2,2,0,1,...,-1,16.0,-1,18300.0,16.277213,0,-1.431684,5,-1.431684,5

In [9]:
group_df = df.groupby("user_id", as_index=False).agg(
    {"item_id": lambda x: list(x)[:10]}
)

In [12]:
group_df["len"] = group_df["item_id"].apply(lambda x: len(x))
group_df[group_df["len"] != 10]

Empty DataFrame
Columns: [user_id, item_id, len]
Index: []

In [14]:
group_df.head()

   user_id                                            item_id  len
0   437491  [9728, 15297, 10440, 3734, 13865, 12192, 4151,...   10
1   437492  [15297, 10440, 9728, 16228, 3734, 12192, 4151,...   10
2   437504  [15297, 10440, 9728, 3734, 13865, 4151, 12192,...   10
3   437523  [9728, 15297, 10440, 13865, 12192, 4151, 7829,...   10
4   437532  [9728, 15297, 10440, 3734, 13865, 12192, 4151,...   10

In [13]:
with open("C:/Users/Xiaomi/Downloads/ranker.json", "w") as file:
    json.dump(
        dict(zip(group_df["user_id"].tolist(), group_df["item_id"].tolist())), file
    )

In [22]:
with open("C:/Users/Xiaomi/Downloads/ranker.json", "r") as file:
    RANKER_RECOS = json.loads(file.read())

In [27]:
RANKER_RECOS.get("437504")

[15297, 10440, 9728, 3734, 13865, 4151, 12192, 16228, 7829, 142]